* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid.container {
    background-color: blueviolet;
    width: 600px;
    height: 600px;
}